h1 {
    font-family: Verdana;
    text-align: center;
    color: aqua;
    font-weight: bold;
    background-color: #b8b8b8;
}

h3 {
    font-family: Verdana;
    background: #b8b8b8;
    text-align: center;
    font-weight: bold;
}

p {
    font-family: Verdana;
    text-align: center;
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
