h1 {
    font-family: Verdana;
    text-align: center;
    color: aqua;
    font-weight: bold;
    background-color: #b8b8b8;
    font-size: 24px;
}

h3 {
    font-family: Verdana;
    background: #b8b8b8;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

p {
    font-family: Verdana;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
