h1 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: aqua;
    background-color: #b8b8b8;
}

h3 {
    font-family: "Lucida Console", "Courier New", monospace;
    background: #b8b8b8
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
}
    
