.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
	border: 1px solid black;
    border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: row;
    position: absolute;
	width: auto;
}

input[type=text] {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid gray;
	width: 50%;
}

button[type=submit] {
	padding: 5px 10px;
	border-radius: 5px;
	background-color: blue;
	color: white;
	border: none;
    align-items: right;
}
