body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #43164d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-box {
    width: 50%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #b36cbd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input::placeholder {
    color: #aaa;
}

.footer {
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}
