.header {
    background-color: rgb(186, 198, 219);
    width: auto;
    height: 300px;
    text-align: center;
    font-family: Verdana;
}

.header p { 
    font-size: 16px;
    margin: 20px auto;
}

a {
    border-bottom: 1px solid black;
    margin: auto 20px;
}

.header img {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.image-conteiner {
    margin: 20px;
    text-align: center;
}

.description-conteiner {
    text-align: center;
    margin: 30px;
    padding: 20px;
    font-family: Verdana;
}

.description-conteiner img {
    width: 600px;
    height: auto;
}

.description-conteiner p {
    text-align: center;
    font-size: 16px;
    margin: 20px 400px;
    line-height: 30px;
}

.description-conteiner p span , .description-conteiner h3 {
    color:rgb(88, 176, 248);
    font-weight: bold;
}

.services-conteiner {
    background-color: rgb(76, 114, 163);
    text-align: center;
    font-family: Verdana;
    color: white;
}

.services-conteiner p {
    font-size: 18px;
    margin: 30px 600px;
    line-height: 40px;
}

.services-conteiner ul {
    margin: 20px 900px;
    line-height: 40px;
    padding-top: auto;
    padding-bottom: 30px;
}

.services-conteiner h2 {
    padding: 40px;
}

.services-conteiner span{
    color: yellow;
    font-weight: bold;
}

